:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --main-font-family: 'Playfair Display', serif;
  --secondary-font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: var(--main-font-family);
  font-weight: 700;
}

p,
h2 {
  font-family: var(--secondary-font-family);
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  align-self: center;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

nav ul.navigation a {
  color: #272142;
  opacity: 70%;
  font-family: var(--secondary-font-family);
}

nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

nav a:hover {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .social {
  margin-top: 80px;
}
footer .social a {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  color: #343a40;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .social a:hover {
  color: var(--branding-color);
}

footer .icone a {
  color: var(--branding-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  padding: 10px 14px;
  transition: all 100ms ease-in-out;
}

footer .icone a:hover {
  color: white;
  background-color: var(--branding-color);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.first-section p {
  font-size: 16px;
  opacity: 70%;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
}

.first-section {
  padding: 60px 20px;
}

.first-section h1 {
  font-size: 64px;
  margin-bottom: 103px;
}

.first-section h2 {
  font-size: 18px;
}

.first-section h3 {
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
}

.first-section-content {
  margin: 30px;
}

.second-hero {
  background-color: var(--secondary-color);
  padding: 40px 60px;
  border-radius: 10px;
}

.second-hero h3 {
  font-family: var(--main-font-family);
  font-size: 48px;
}

.second-hero p {
  font-size: 18px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.btn-branding:hover {
  color: white;
}

.btn-second-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 9px 15px;
}

.btn-second-branding:hover {
  color: white;
}

.grid-title-heading {
  font-size: 64px;
  font-weight: 700;
  font-family: var(--main-font-family);
}

.info-paragraph {
  font-size: 16px;
  font-weight: 400;
  opacity: 70%;
  line-height: 30px;
}

.btn-branding-outline {
  padding: 18px 30px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
}

.portfolio {
  padding-top: 90px;
  padding-left: 50px;
}

.portfolio-weather {
  padding-top: 90px;
  padding-right: 50px;
}

.image-paragraph {
  font-size: 14px !important;
}

.note {
  opacity: 1 !important;
}
.note a {
  color: var(--branding-color);
}

.note a:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .portfolio,
  .portfolio-weather,
  .first-section {
    padding: 0;
    text-align: center;
  }
  .hero h1,
  .first-section h1 {
    font-size: 60px;
    margin: 0;
  }
  .grid-title-heading {
    font-size: 45px;
  }

  .hero {
    padding: 60px 20px;
  }
  .patricia-image {
    padding-left: 15px;
    padding-bottom: 25px;
  }
  .second-hero .row {
    display: block;
  }
  footer .col-md-9 {
    max-width: 100%;
  }

  nav li {
    margin-left: 6px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .portfolio {
    padding: 0;
  }
}
